.borda-estilizada{
  border: 2px solid rgb(34, 34, 165);
}

.header{
  background-color: rgb(45, 45, 138);
  display: flex;
  justify-content: center;

}

.mini-cards{
  border-radius: 5px;
  border: 2px solid rgb(34, 34, 165);
}