.centralizar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.borda-estilizada{
  border: 2px solid rgb(34, 34, 165);
}

.cor-texto{
  color: rgb(34, 34, 165);
}

.botao-dash{
  height: 100%;
  padding: 7%;
}